* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --light-grayish-blue: hsl(240, 5%, 91%);
}
body {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 921px;
  height: 510px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 25px 25px 1px #5c48c3;
}
.icon {
  width: 460px;
  height: 510px;
  position: relative;
  #icon-1 {
    width: 460px;
    height: 510px;
    background: url('./images/bg-pattern-desktop.svg') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    background-position: -573px -315px;
  }
  #icon-2 {
    width: 460px;
    height: 359px;
    background: url('./images/illustration-woman-online-desktop.svg') no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    background-position: -70px 10px;
    transform: translate(0%, 13%);
  }
  #icon-3 {
    width: 191px;
    height: 184px;
    background: url('./images/illustration-box-desktop.svg') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-49%, 105%);
  }
}
.faq {
  width: 460px;
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  
  h1 {
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--very-dark-desaturated-blue);
    font-size: 32px;
    margin-bottom: 40px;
  }
 .questions {
    width: 334px;
    .question-title {
      margin-bottom: 18px;
      font-family: 'Kumbh Sans', sans-serif;
      color: var(--very-dark-grayish-blue);
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
    .question-title:hover {
      color: var(--soft-red);
    }
    .ans {
      font-family: 'Kumbh Sans', sans-serif;
      color: var(--dark-grayish-blue);
      font-size: 12px;
      margin-bottom: 21px;
      border-bottom: 1px solid var(--light-grayish-blue);
      p.hidden {
        display: none;
        padding-bottom: 23px;
      }
    }
  }
}

@media screen and (max-width:375px) {
  body {
    width: 375px;
  }
  .container {
    width: 328px;
    height: 536px;
    display: block;
    .icon {
      width: 328px;
      height: 150px;
      #icon-1 {
        width: 239px;
        height: 150px;
        background: url('./images/bg-pattern-desktop.svg') no-repeat center;
        background-size: cover;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -81%);
        background-position-y: -84px;
      }
      #icon-2 {
        width: 239px;
        background: url('./images/illustration-woman-online-desktop.svg') no-repeat;
        background-size: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -52%);

      }
      #icon-3 {
        width: 100px;
        height: 100px;
        background: url('./images/illustration-box-desktop.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(37%, -46%);
      }
    }
    .faq {
      width: 281px;
      height: 430px;
      z-index: 99;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      align-items: center;
      h1 {
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .questions {
        width: 281px;
        height: 284px;
        .question-title {
          font-size: 12px;
        }
    
      }
    }
  } 

}

.attribution {
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
  a {
   color: hsl(228, 45%, 44%);
   text-decoration: none;
  }
}
